<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="80" height="80" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nombre" /></h1>
      <div class="flexrow header-info">
        <div class="resource pv">
          <label>PV</label>
          <input type="number" name="system.derivados.pv.value" value="{{system.derivados.pv.value}}" data-dtype="Number" />
          <span> / {{system.derivados.pv.max}}</span>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="caracteristicas">Características</a>
    <a class="item" data-tab="competencias">Competencias</a>
    <a class="item" data-tab="combate">Combate</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="caracteristicas">
      <table class="caracteristicas-table">
        <tbody>
          {{#each system.caracteristicas as |car key|}}
          <tr>
            <td>{{lookup @root.config.caracteristicas key}}</td>
            <td><input type="number" name="system.caracteristicas.{{key}}.value" value="{{car.value}}" data-dtype="Number" /></td>
            <td>{{car.total}}</td>
            <td><a class="rollable-car" data-car="{{key}}"><i class="fas fa-dice-d20"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="tab" data-group="primary" data-tab="competencias">
      {{> "systems/akers_aquelarre/templates/actor/parts/actor-competencias.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="combate">
      {{> "systems/akers_aquelarre/templates/actor/parts/actor-combate.hbs"}}
    </div>
  </section>
</form>
